<div class="container">
    Home Page
    <cart-component v-if="products.data" :products="cart.products"></cart-component>
    <div class="row">
        <div class="col-lg-3 mb-lg-4 mb-2" v-for="(product, index) in products.data" :key="index">
            <div class="card">
                <div class="card-body">
                    <div class="w-100" style="height: 205px; overflow: hidden; display: flex; justify-content: center; align-items: center;">
                        <img :src="product.image" class="img-fluid" style="max-width: 100%; max-height: 100%; object-fit: contain;"/>
                    </div>
                    <div>
                        {{ product.title }}
                    </div>
                    <div>
                        {{ product.price }}€
                    </div>
                    <button class="btn btn-primary" @click="addToCart(product)">Agregar al Carrito</button>
                </div>
            </div>
        </div>
    </div>
</div>
